{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}

{% load static %}

<style>
    /* Add CSS for the login card */
    .login-card {
        background-color: white; /* Ganti latar belakang menjadi putih */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 20px;
        max-width: 400px;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
    }

    /* Add spacing for form elements */
    .form-group {
        margin-bottom: 20px;
    }

    /* Add CSS for the Login button */
    .login_btn {
        background-color: var(--jaguar-600);
        border-radius: 16px;
        color: white;
        font-weight: 500;
        width: 100px;
    }
</style>

<div class="container-fluid g-0 h-100 d-flex row justify-content-center align-items-center w-100">
    <div class="login-card">
        <h1 style="background-color: white;font-weight: 700; color: var(--jaguar-950);">Login</h1>

        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group" style="background-color: white;">
                <label for="username" style="background-color: white; color:var(--kashmir-blue-400); font-size: 14px; font-weight: 600;">Username</label>
                <input type="text" name "username" id="username" class="form-control" placeholder="Username">
            </div>
                    
            <div class="form-group" style="background-color: white;">
                <label for "password" style="background-color: white;color: var(--kashmir-blue-400); font-size: 14px; font-weight: 600;">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" style="background-color: white;"> <!-- Ganti latar belakang menjadi putih -->
            </div>

            <input class="btn login_btn" style="background-color: white; background-color: var(--jaguar-600); border-radius: 16px; color: white; font-weight: 500; width: 100px;" type="submit" value="Login">
        </form>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}     

        <p style="margin-top: 20px; background-color: white;"><center>Don't have an account yet? <a href="{% url 'authentication:register' %}">Register Now</a></center></p>
    </div>
</div>

{% endblock content %}
