{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}

{% load static %}

<style>
    /* Add CSS for the registration card */
    .registration-card {
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 20px;
        max-width: 400px;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
    }

    /* Add spacing for form elements */
    .form-group {
        margin-bottom: 20px;
    }

    /* Add CSS for the Register button */
    .register_btn {
        background-color: var(--jaguar-600);
        border-radius: 16px;
        color: white;
        font-weight: 500;
        width: 100px;
    }
</style>

<div class="container-fluid g-0 h-100 d-flex row justify-content-center align-items-center w-100">
    <div class="registration-card">
        <h1 style="background-color: white; font-weight: 700; color: var(--jaguar-950);">Register</h1>

        <form method="POST">
            {% csrf_token %}
            <div class="form-group" style="background-color: white;">
                {{ form.as_p }}
            </div>

            <input class="btn register_btn" type="submit" value="Daftar">
        </form>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>

{% endblock content %}
