{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Desktop Navbar -->
<div class="desktop">
  <nav class="container-fluid d-flex flex-row justify-content-between g-0 fixed-top align-items-center" style="background-color: white; height: 100px; padding-inline: 40px; padding-block: 20px;">
      <div class="container-fluid col-lg-5 h-100 d-flex flex-row align-items-center justify-content-start" style="background-color: white;"> 
          <img src="{% static 'icon/logo nav.png' %}" alt="Logo Litracker" style="background-color: white; margin-right: 40px; width: 40px; height: 40px;">
          <div class=" g-0 d-flex flex-row align-items-center justify-content-start" style="background-color: white; margin-right: 40px; ">
              <img src="{% static 'icon/fire purple.png' %}" alt="rekomendasi" style="width: 24px; height: 24px; margin-right: 12px; background-color: white;">
              <div class="nav-text-primary d-flex">Rekomendasi Buku</div>
          </div>
          <div class=" g-0 d-flex flex-row align-items-center justify-content-start" style="background-color: white;">
              <img src="{% static 'icon/tag grey.png' %}" alt="rekomendasi" style="width: 24px; height: 24px; margin-right: 12px; background-color: white;">
          </div>

          <div class=" g-0 d-flex flex-row align-items-center justify-content-start" style="background-color: white;">
            <a href="{% url 'review_book:show_review' %}" style="text-decoration: none;">
              <div class="nav-text-secondary d-flex" >Ulasan</div>
            </a>
          </div>
             
      </div>
      <div class="container-fluid w-100 h-100 d-flex align-items-center" style="background-color: white;">
          <div class="search w-100 d-flex flex-row align-items-center justify-content-between" style="background-color: var(--kashmir-blue-100); height: 100%; border-radius: 20px; padding-left: 12px;">
              <img src="{% static 'icon/search grey.png' %}" alt="search" style="width: 24px; height: 24px; margin-right: 12px; background-color: var(--kashmir-blue-100);">
              <form method="get" id="search-form" action="{% url 'book:search_books' %}">
                <input name="query" type="text" value="{{ search_term }}" id="searchField" class="form-control d-flex align-items-center h-100 w-100" style="background-color: var(--kashmir-blue-100); color: var(--kashmir-blue-500); border-radius: 0px 20px 20px 0px; border-style: none;" placeholder="Cari Judul Buku...">
              </form>
          </div>
      </div>
      <div class="container-fluid col-lg-5 h-100 d-flex flex-row align-items-center justify-content-end" style="background-color: white;">
          <div class="vertical-line"></div>
          <div class="upvote" style="height: 56px; width: 56px; margin-right: 20px; background-color: var(--jaguar-600); border-radius: 20px; display: flex; align-items: center; justify-content: center;">
            <a href="{% url 'upvote_book:upvote_book' %}"><img src="{% static 'icon/upvote white.png' %}" alt="upvote" style="height: 24px; width: 24px; background-color: var(--jaguar-600);"></a>
          </div>
          <div class="wishlist" style="height: 56px; width: 56px; margin-right: 20px; background-color: var(--coral-red-400); border-radius: 20px; display: flex; align-items: center; justify-content: center;">
            <a href="{% url 'favorite_book:favorite_book' %}"><img src="{% static 'icon/love white.png' %}" alt="wishlist" style="height: 24px; width: 24px; background-color: var(--coral-red-400);"></a>
          </div>
          <div class="vertical-line"></div>

          <a class="nav-text-secondary nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-right: 12px;">
            {% if user.is_authenticated %}
              Halo, {{ user.username }}!
            {% endif %}
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink" style="background-color: white; border-radius: 20px; border-color: var(--kashmir-blue-100);">
            {% if user.is_authenticated %}
              <li style="background-color: white; border-radius: 20px;"><a class="dropdown-item" href="#" style="background-color: white; border-radius: 20px; font-weight: 400; color: var(--kashmir-blue-500)">Reading History</a></li>
              {% if user.is_admin %}
              <li style="background-color: white; border-radius: 20px;"><a class="dropdown-item" href="{% url 'book:add_book' %}" style="background-color: white; border-radius: 20px; color: var(--kashmir-blue-500)">Add Book</a></li>
              {% endif %}
              <li style="background-color: white; border-radius: 20px;"><a class="dropdown-item" href="{% url 'authentication:logout_user' %}" style="background-color: white; border-radius: 20px; color: var(--kashmir-blue-500)">Logout</a></li>
            {% endif %}
          </ul>


          <div class="user" style="height: 56px; width: 56px; margin-right: 20px; background-color: var(--kashmir-blue-100); border-radius: 20px; display: flex; align-items: center; justify-content: center;">
              <img src="{% static 'icon/user grey.png' %}" alt="user" style="height: 24px; width: 24px; background-color: var(--kashmir-blue-100);">
          </div>
      </div>
  </nav>

  
</div>

<!-- Mobile Navbar -->
<div class="mobile">
  <nav class="container-fluid d-flex flex-row justify-content-between g-0 fixed-top align-items-center" style="background-color: white; height: 100px; padding-inline: 28px; padding-block: 20px;">
      <div class="container-fluid col-2 d-flex justify-content-start align-items-center h-100 g-0" style="background-color: white;" >
          <img src="{% static 'icon/logo nav.png' %}" alt="Logo Litracker" style="background-color: white; width: 40px; height: 40px;">
      </div>
      <div class="container-fluid col-8 d-flex justify-content-center align-items-center h-100 g-0" style="background-color: white;">
          <div class="upvote" style="height: 40px; width: 40px; margin-right: 20px; background-color: var(--jaguar-600); border-radius: 12px; display: flex; align-items: center; justify-content: center;">
              <img src="{% static 'icon/upvote white.png' %}" alt="upvote" style="height: 20px; width: 20px; background-color: var(--jaguar-600);">
          </div>
          <div class="wishlist" style="height: 40px; width: 40px; margin-right: 20px; background-color: var(--coral-red-400); border-radius: 12px; display: flex; align-items: center; justify-content: center;">
              <img src="{% static 'icon/love white.png' %}" alt="wishlist" style="height: 20px; width: 20px; background-color: var(--coral-red-400);">
          </div>
      </div>
      <div class="container-fluid col-2 d-flex justify-content-end align-items-center h-100 g-0" style="background-color: white;">
          <img src="{% static 'icon/menu.png' %}" alt="menu" style="height: 24px; width: 24px; background-color: white;">
      </div>
  </nav>
</div>

<div class="type-text  w-100  d-flex flex-column" style=" background-color: var(--kashmir-blue-100); padding-top: 120px;">
  <div class="d-flex container-fluid g-0 justify-content-center" style="background-color: var(--kashmir-blue-100);">
    <svg class="book-shelf" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 84 94" height="200" width="200">
      <path fill="none" d="M37.612 92.805L4.487 73.71c-2.75-1.587-4.45-4.52-4.45-7.687L.008 27.877c-.003-3.154 1.676-6.063 4.405-7.634L37.558 1.167c2.73-1.57 6.096-1.566 8.835.013l33.124 19.096c2.75 1.586 4.45 4.518 4.45 7.686l.028 38.146c.002 3.154-1.677 6.063-4.406 7.634L46.445 92.818c-2.73 1.57-6.096 1.566-8.834-.013z"/>
      <g class="book-shelf__book book-shelf__book--one" fill-rule="evenodd">
        <path fill="#BABFFF" d="M49 32h2c1.105 0 2 .86 2 1.92v25.906c0 1.06-.895 1.92-2 1.92h-2c-1.105 0-2-.86-2-1.92V33.92c0-1.06.895-1.92 2-1.92z"/>
        <path fill="#ffffff" d="M50 35c.552 0 1 .448 1 1v2c0 .552-.448 1-1 1s-1-.448-1-1v-2c0-.552.448-1 1-1z"/>
        </g>
      <g class="book-shelf__book book-shelf__book--two" fill-rule="evenodd">
        <path fill="#5121FF" d="M39 34h6c1.105 0 2 .895 2 2v24c0 1.105-.895 2-2 2h-6c-1.105 0-2-.895-2-2V36c0-1.105.895-2 2-2z"/>
        <path fill="#ffffff" d="M42 38c1.105 0 2 .895 2 2s-.895 2-2 2-2-.895-2-2 .895-2 2-2z"/>
      </g>
      <g class="book-shelf__book book-shelf__book--three" fill-rule="evenodd">
        <path fill="#FF5050" d="M31 29h4c1.105 0 2 .895 2 2v29c0 1.105-.895 2-2 2h-4c-1.105 0-2-.895-2-2V31c0-1.105.895-2 2-2z"/>
        <path fill="#ffffff" d="M34 36h-2c-.552 0-1-.448-1-1s.448-1 1-1h2c.552 0 1 .448 1 1s-.448 1-1 1zm-2 1h2c.552 0 1 .448 1 1s-.448 1-1 1h-2c-.552 0-1-.448-1-1s.448-1 1-1z"/>
      </g>
      <g fill-rule="evenodd">
        <path class="book-shelf__shelf" fill="#8497AC" d="M21 60h40c1.105 0 2 .895 2 2s-.895 2-2 2H21c-1.105 0-2-.895-2-2s.895-2 2-2z"/>
        <path fill="#586B84" d="M51.5 67c-.828 0-1.5-.672-1.5-1.5V64h3v1.5c0 .828-.672 1.5-1.5 1.5zm-21 0c-.828 0-1.5-.672-1.5-1.5V64h3v1.5c0 .828-.672 1.5-1.5 1.5z"/>
      </g>
    </svg>
  </div>
  <div class="animate-text d-flex flex-row g-0 w-100 justify-content-center">
    <span id="text"></span>
    <span id="cursor" style="color: white;">|</span>
  </div>

  <div class="h-100 container-fluid w-100" style="height: 100px; background-color: white; margin-top: 80px; border-radius: 60px 60px 0px 0px; padding: 60px;">
    <p style="font-size: 20px; background-color: white;">Featured Books</p>

    <div id="book-container" class="container-fluid row h-100 g-0 w-100 justify-content-between" style="background-color: white;">

      {% if search_term %}
        {% for book in results %}
        <div class="py-4 col-xl-3 col-lg-12 align-items-center justify-content-between" style="background-color: white; margin-right: 4px; width: 380px;">
          <div class="card mb-4 p-4 d-flex flex-row row shadow-sm" style="border-radius: 20px; border-color: var(--kashmir-blue-100); background-color: white;">
            
              <img class="col-sm-1" src="{{ book.image_url_l }}" alt="user" style="width: 130px; height: 100%; margin-right: 4px; background-color: white; margin-bottom: 16px;">
              <div class="col-sm-1 content-card d-flex flex-column justify-content-between" style="background-color: white;">
                  <div class="rank d-flex flex-column justify-content-center align-items-start" style="background-color: white;">
                      <div class="d-flex flex-row">
                        <div class="total-upvote d-flex flex-row justify-content-center align-items-center" style="background-color: white;">
                          <img src="{% static 'icon/upvote grey.png' %}" alt="user" style="width: 24px; height: 24px; margin-right: 12px; background-color: white;">
                          <p style="margin-bottom: 0px; background-color: white; color: var(--kashmir-blue-500); font-weight: 700; font-size: 14px; margin-right: 10px;"><span id="votes-{{ book.pk }}">{{ book.total_votes }}</span></p>
                        </div>
                        <div class="total-upvote d-flex flex-row justify-content-center align-items-center" style="background-color: white;">
                          <img src="{% static 'icon/love grey.png' %}" alt="user" style="width: 24px; height: 24px; margin-right: 12px; background-color: white;">
                          <p style="margin-bottom: 0px; background-color: white; color: var(--kashmir-blue-500); font-weight: 700; font-size: 14px;"><span id="votes-{{ book.pk }}">{{ book.total_wishlist }}</span></p>
                        </div>
                      </div>
                  </div>
                  <div class="about d-flex flex-column" style="background-color: white;">
                      <p id="truncatedText" style="margin-bottom: 8px; background-color: white; font-size: 18px; font-weight: 700; 
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      width: 200px;">{{ book.title }}</p>
                      <p style="margin-bottom: 0px; background-color: white; font-size: 14px; font-weight: 500;">{{ book.author }}</p>
                  </div>

                <div class="action" style="background-color: white;">
                    <button data-bs-toggle="modal" data-bs-target="#detailBukuModal{{ book.pk }}" style="background-color: var(--jaguar-600); border-radius: 20px; padding: 16px; border-style: none; color: white; font-size: 14px; font-weight: 700;">
                        Lihat Detail
                    </button>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: rgba(87, 87, 87, 0.034);">
                  <div class="modal-dialog" style="border-radius: 20px; border-style: none; background-color: white;">
                      <div class="modal-content" style="border-radius: 20px; border-style: none; background-color: white;">
                          <div class="modal-header" style="border-radius: 20px; background-color: white; border-style: none;">
                            <h1 style="background-color: white; font-size: 20px; margin: 8px;">Add Reading History</h1>
                          </div>
                          <div class="modal-body" style="background-color: white;">
                            <form id="form" style="background-color: white;" onsubmit="return false;">
                              {% csrf_token %}
                              <div class="mb-3" style="background-color: white;">
                                  <label for="last_page" class="col-form-label" style="font-size: 16px; background-color: white; font-weight: 700; margin: 8px; ">Last Page:</label>
                                  <input type="number" class="form-control" id="last_page" name="last_page"></input>
                              </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: white; border-radius: 20px; padding-block: 16px; padding-inline: 24px; border-style: none; font-size: 16px; font-weight: 700; border-color: var(--kashmir-blue-200); border-width: 2px; border-style: solid; color: var(--jaguar-950);">Close</button>
                            <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal" style="background-color: var(--jaguar-600); border-radius: 20px; padding-block: 16px; padding-inline: 24px; border-style: none; font-size: 14px; font-weight: 700; color: white; margin-right: 20px;">
                                <a href="{% url 'book:simpan_last_page' book.pk %}" style="text-decoration: none; border-style: none; color: white; background-color: var(--jaguar-600);">
                                    {% if book in request.user.userprofile.history_books.all %}
                                        Remove Reading History
                                    {% else %}
                                        Add Reading History
                                    {% endif %}
                                </a>
                            </button>
                        </div>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      
      <!-- Modal -->
      <div class="modal fade" id="detailBukuModal{{ book.pk }}" tabindex="-1" aria-labelledby="DetailModalLabel{{ book.pk }}" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="DetailModalLabel{{ book.pk }}">Detail Buku</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6">
                  <img src="{{ book.image_url_l }}" alt="book image" style="width: 100%;" />
                </div>
                <div class="col-md-6">
                  <h3 class="mb-3" style="font-size: 32px; font-weight: 1000; font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">{{ book.title }}</h3>
                  <h5 class="mb-3">Author: {{ book.author }}</h5>
                  <h5 class="mb-3">Published Year: {{ book.published_year }}</h5>
                  <h5 class="mb-3">Publisher: {{ book.publisher }}</h5>
                  <h5 class="mb-3">ISBN: {{ book.isbn }}</h5>
                  <button class="upvote-button" style="background-color: var(--jaguar-600); border-radius: 20px; padding: 16px; border-style: none; color: white; font-size: 14px; font-weight: 700;">
                    <a href="{% url 'book:upvote_book' book.pk %}" style="text-decoration: none; border-style: none; color: white; background-color: var(--jaguar-600);">
                      {% if book in request.user.userprofile.upvoted_books.all %}
                          Remove Upvote
                      {% else %}
                          Upvote
                      {% endif %}
                    </a>
                  </button>
                  <button class="wishlist-button" style="background-color: var(--jaguar-600); border-radius: 20px; padding: 16px; border-style: none; color: white; font-size: 14px; font-weight: 700;">
                    <!-- Ganti ke favorite book nanti -->
                    <a href="{% url 'book:wishlist_book' book.pk %}" style="text-decoration: none; border-style: none; color: white; background-color: var(--jaguar-600);">
                      {% if book in request.user.userprofile.wishlist_books.all %}
                          Remove Favorite
                      {% else %}
                          Favorite
                      {% endif %}
                    </a>
                  </button>
                  <button class="modal-fade" style="background-color: var(--jaguar-600); border-radius: 20px; padding: 16px; border-style: none; color: white; font-size: 14px; font-weight: 700;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Add Reading History
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
        {% for book in books %}
        <div class="py-4 col-xl-3 col-lg-12 align-items-center justify-content-between" style="background-color: white; margin-right: 4px; width: 380px;">
          <div class="card mb-4 p-4 d-flex flex-row row shadow-sm" style="border-radius: 20px; border-color: var(--kashmir-blue-100); background-color: white;">
            
              <img class="col-sm-1" src="{{ book.image_url_l }}" alt="user" style="width: 130px; height: 100%; margin-right: 4px; background-color: white; margin-bottom: 16px;">
              <div class="col-sm-1 content-card d-flex flex-column justify-content-between" style="background-color: white;">
                  <div class="rank d-flex flex-column justify-content-center align-items-start" style="background-color: white;">
                      <div class="trophy d-flex d-flex align-items-center justify-content-start" style="font-size: 24px; font-weight: 700; color: var(--jaguar-500); background-color: var(--jaguar-50); padding-inline: 12px; padding-block: 4px; margin-bottom: 8px; border-radius: 12px;">
                          <img src="{% static 'icon/trophy purple.png' %}" alt="user" style="width: 24px; height: 24px; margin-right: 12px;">
                          {{ book.rank }} 
                      </div>
                      <div class="d-flex flex-row">
                        <div class="total-upvote d-flex flex-row justify-content-center align-items-center" style="background-color: white;">
                          <img src="{% static 'icon/upvote grey.png' %}" alt="user" style="width: 24px; height: 24px; margin-right: 12px; background-color: white;">
                          <p style="margin-bottom: 0px; background-color: white; color: var(--kashmir-blue-500); font-weight: 700; font-size: 14px; margin-right: 10px;"><span id="votes-{{ book.pk }}">{{ book.total_votes }}</span></p>
                        </div>
                        <div class="total-upvote d-flex flex-row justify-content-center align-items-center" style="background-color: white;">
                          <img src="{% static 'icon/love grey.png' %}" alt="user" style="width: 24px; height: 24px; margin-right: 12px; background-color: white;">
                          <p style="margin-bottom: 0px; background-color: white; color: var(--kashmir-blue-500); font-weight: 700; font-size: 14px;"><span id="votes-{{ book.pk }}">{{ book.total_wishlist }}</span></p>
                        </div>
                      </div>
                  </div>
                  <div class="about d-flex flex-column" style="background-color: white;">
                      <p id="truncatedText" style="margin-bottom: 8px; background-color: white; font-size: 18px; font-weight: 700; 
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      width: 200px;">{{ book.title }}</p>
                      <p style="margin-bottom: 0px; background-color: white; font-size: 14px; font-weight: 500;">{{ book.author }}</p>
                  </div>

                <div class="action" style="background-color: white;">
                    <button data-bs-toggle="modal" data-bs-target="#detailBukuModal{{ book.pk }}" style="background-color: var(--jaguar-600); border-radius: 20px; padding: 16px; border-style: none; color: white; font-size: 14px; font-weight: 700;">
                        Lihat Detail
                    </button>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: rgba(87, 87, 87, 0.034);">
                  <div class="modal-dialog" style="border-radius: 20px; border-style: none; background-color: white;">
                      <div class="modal-content" style="border-radius: 20px; border-style: none; background-color: white;">
                          <div class="modal-header" style="border-radius: 20px; background-color: white; border-style: none;">
                            <h1 style="background-color: white; font-size: 20px; margin: 8px;">Add Reading History</h1>
                          </div>
                          <div class="modal-body" style="background-color: white;">
                            <form id="form" style="background-color: white;">
                                {% csrf_token %}
                                <div class="mb-3" style="background-color: white;">
                                    <label for="last_page" class="col-form-label" style="font-size: 16px; background-color: white; font-weight: 700; margin: 8px;">Last Page:</label>
                                    <input type="number" class="form-control" id="last_page" name="last_page">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="button_add" data-book-id="{{ book.pk }}" data-bs-dismiss="modal">Save Last Page</button>
                        </div>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="detailBukuModal{{ book.pk }}" tabindex="-1" aria-labelledby="DetailModalLabel{{ book.pk }}" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="DetailModalLabel{{ book.pk }}">Detail Buku</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6">
                  <img src="{{ book.image_url_l }}" alt="book image" style="width: 100%;" />
                </div>
                <div class="col-md-6">
                  <h3 class="mb-3" style="font-size: 32px; font-weight: 1000; font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">{{ book.title }}</h3>
                  <h5 class="mb-3">Author: {{ book.author }}</h5>
                  <h5 class="mb-3">Published Year: {{ book.published_year }}</h5>
                  <h5 class="mb-3">Publisher: {{ book.publisher }}</h5>
                  <h5 class="mb-3">ISBN: {{ book.isbn }}</h5>
                  <button class="upvote-button" style="background-color: var(--jaguar-600); border-radius: 20px; padding: 16px; border-style: none; color: white; font-size: 14px; font-weight: 700;">
                    <a href="{% url 'book:upvote_book' book.pk %}" style="text-decoration: none; border-style: none; color: white; background-color: var(--jaguar-600);">
                      {% if book in request.user.userprofile.upvoted_books.all %}
                          Remove Upvote
                      {% else %}
                          Upvote
                      {% endif %}
                    </a>
                  </button>
                  <button class="wishlist-button" style="background-color: var(--jaguar-600); border-radius: 20px; padding: 16px; border-style: none; color: white; font-size: 14px; font-weight: 700;">
                    <!-- Ganti ke favorite book nanti -->
                    <a href="{% url 'book:wishlist_book' book.pk %}" style="text-decoration: none; border-style: none; color: white; background-color: var(--jaguar-600);">
                      {% if book in request.user.userprofile.wishlist_books.all %}
                          Remove Favorite
                      {% else %}
                          Favorite
                      {% endif %}
                    </a>
                  </button>
                  <button class="modal-fade" style="background-color: var(--jaguar-600); border-radius: 20px; padding: 16px; border-style: none; color: white; font-size: 14px; font-weight: 700;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Riwayat Bacaan
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  
  
</div>

<script>
  // JavaScript to handle upvoting
  document.addEventListener("DOMContentLoaded", function () {
      const upvoteButtons = document.querySelectorAll(".upvote-link");
      upvoteButtons.forEach(button => {
          button.addEventListener("click", function (event) {
              event.preventDefault();
              const bookId = this.getAttribute("data-book-id");
              upvoteBook(bookId);
          });
      });

      function upvoteBook(bookId) {
          fetch("{% url 'book:upvote_book' 0 %}".replace("0", bookId), {
              method: "POST",
              credentials: "same-origin",
              headers: {
                  "X-CSRFToken": getCookie("csrftoken"), // Make sure you have a function to get the CSRF token
                  "Content-Type": "application/json",
              },
          })
              .then(response => response.json())
              .then(data => {
                  if (data.success) {
                      const button = document.getElementById(`upvote-button-${bookId}`);
                      const upvoteText = button.querySelector(".upvote-link");
                      if (upvoteText.textContent.trim() === "Upvote") {
                          upvoteText.textContent = "Remove Upvote";
                      } else {
                          upvoteText.textContent = "Upvote";
                      }
                  }
              })
              .catch(error => {
                  console.error("Error upvoting book:", error);
              });
      }

      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== "") {
              var cookies = document.cookie.split(";");
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = cookies[i].trim();
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === name + "=") {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
  });
</script>

<script>
  // JavaScript to handle wishlist
  document.addEventListener("DOMContentLoaded", function () {
      const wishlistButtons = document.querySelectorAll(".wishlist-link");
      wishlistButtons.forEach(button => {
          button.addEventListener("click", function (event) {
              event.preventDefault();
              const bookId = this.getAttribute("data-book-id");
              wishlistBook(bookId);
          });
      });

      function wishlistBook(bookId) {
          fetch("{% url 'book:wishlist_book' 0 %}".replace("0", bookId), {
              method: "POST",
              credentials: "same-origin",
              headers: {
                  "X-CSRFToken": getCookie("csrftoken"), // Make sure you have a function to get the CSRF token
                  "Content-Type": "application/json",
              },
          })
              .then(response => response.json())
              .then(data => {
                  if (data.success) {
                      const button = document.getElementById(`wishlist-button-${bookId}`);
                      const wishlistText = button.querySelector(".wishlist-link");
                      if (wishlistText.textContent.trim() === "Wishlist") {
                          wishlistText.textContent = "Remove Wishlist";
                      } else {
                          wishlistText.textContent = "Wishlist";
                      }
                  }
              })
              .catch(error => {
                  console.error("Error upvoting book:", error);
              });
      }

      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== "") {
              var cookies = document.cookie.split(";");
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = cookies[i].trim();
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === name + "=") {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
  });
</script>

<script>
  document.getElementById('button_add').addEventListener('click', function () {
      var bookId = this.getAttribute('data-book-id');
      var lastPage = document.getElementById('last_page').value;

      // Send an AJAX request to the view to save the last page
      fetch(`/book/save_last_page/${bookId}/`, {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': getCookie('csrftoken'), // Get the CSRF token
          },
          body: JSON.stringify({ 'last_page': lastPage }),
      })
      .then(response => response.json())
      .then(data => {
          if (data.message) {
              // Success message
              alert(data.message);
          } else {
              // Handle errors here
              alert('Error: ' + data.error);
          }
      });
  });

  // Function to get the CSRF token from cookies
  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              // Search for a cookie with the given name
              if (cookie.substring(0, name.length + 1) === name + '=') {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
</script>

<style>
  body {
  background-color: #f5f5f1;
  display: flex;
  align-items: center;
}

@keyframes book-bounce {
  0% { transform: translateY(0); }
  40% { transform: translateY(-10px); }
  80% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

@keyframes shelf-lift {
  0% { transform: translateY(0) rotate(0); }
  20% { transform: translateY(-4px) rotate(10deg); }
  40% { transform: translateY(-4px) rotate(0); }
  40% { transform: translateY(-4px) rotate(-10deg); }
  80% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

.book-shelf:hover {
  cursor: pointer;
  
  .book-shelf__book {
    animation: book-bounce 0.4s ease;
    animation-iteration-count: 1;
  }
  
  .book-shelf__book--two {
    animation-delay: 0.04s;
  }

  .book-shelf__book--three {
    animation-delay: 0.08s;
  }
  
  .book-shelf__shelf {
    animation: shelf-lift 0.4s ease;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
  }
}

  .modal-content {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  .modal-body {
    max-height: 80vh;
    overflow-y: auto;
  }

  .modal-body .col-md-6 {
    max-width: 50%; /* Adjust the maximum width of the text column */
    word-wrap: break-word; /* Allow long words to wrap */
  }
</style>
 


<style>
  .type-text {
    font-size: 64px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
}

#cursor {
    animation: cursor 2s infinite;
}

@keyframes cursor {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
</style>
<script>
  const textElement = document.getElementById("text");
  const text = ["Temukan Buku Impianmu", "Tambahkan ke Wishlist", "Upvote untuk Dukung Penulis!"];
  let textIndex = 0;
  let charIndex = 0;

  function type() {
      if (charIndex < text[textIndex].length) {
          textElement.innerHTML += text[textIndex].charAt(charIndex);
          charIndex++;
          setTimeout(type, 100); // Kecepatan ketik, sesuaikan sesuai kebutuhan
      } else {
          setTimeout(erase, 1000); // Waktu tampilan teks sebelum dihapus
      }
  }

  function erase() {
      if (charIndex > 0) {
          textElement.innerHTML = text[textIndex].substring(0, charIndex - 1);
          charIndex--;
          setTimeout(erase, 50); // Kecepatan menghapus, sesuaikan sesuai kebutuhan
      } else {
          textIndex = (textIndex + 1) % text.length;
          setTimeout(type, 500); // Waktu tampilan sebelum mengetik ulang
      }
  }

  document.addEventListener("DOMContentLoaded", function () {
      setTimeout(type, 1000); // Waktu tampilan awal
  });

  function truncateText() {
  const element = document.getElementById("truncatedText");
  const originalText = element.innerHTML;
  const maxLength = 16; // Set the maximum length for the text
  if (originalText.length > maxLength) {
    element.innerHTML = originalText.substring(0, maxLength) + "...";
    }
  }

  truncateText(); // Call the function to truncate the text
</script>
{% endif %}
{% endblock %}
