@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: Poppins;
    background-color: var(--kashmir-blue-100);
    
}

:root {
    --jaguar-50: #eaedff;
    --jaguar-100: #d9ddff;
    --jaguar-200: #babfff;
    --jaguar-300: #9195ff;
    --jaguar-400: #6e65ff;
    --jaguar-500: #5c42ff;
    --jaguar-600: #5121ff;
    --jaguar-700: #4816ec;
    --jaguar-800: #3a15be;
    --jaguar-900: #331a95;
    --jaguar-950: #080416;
    --kashmir-blue-50: #f6f7f9;
    --kashmir-blue-100: #eceff2;
    --kashmir-blue-200: #d5dbe2;
    --kashmir-blue-300: #b0bbc9;
    --kashmir-blue-400: #8497ac;
    --kashmir-blue-500: #657a92;
    --kashmir-blue-600: #586b84;
    --kashmir-blue-700: #425062;
    --kashmir-blue-800: #394453;
    --kashmir-blue-900: #333b47;
    --kashmir-blue-950: #22272f;
    --coral-red-50: #fff1f1;
    --coral-red-100: #ffe1e1;
    --coral-red-200: #ffc7c7;
    --coral-red-300: #ffa0a0;
    --coral-red-400: #ff5050;
    --coral-red-500: #f83b3b;
    --coral-red-600: #e51d1d;
    --coral-red-700: #c11414;
    --coral-red-800: #a01414;
    --coral-red-900: #841818;
    --coral-red-950: #480707;
    --orange-yellow: linear-gradient(180deg, rgba(255,199,56,1) 0%, rgba(241,141,48,1) 100%);
}